
:root{
    --bgheader: #D3D3D3;
    --navColor: #C0C0C0;
    --color: #6633FF;
    --icons:  #0cabeb;
    --size: 1.5rem;
    --padding: 10px;
    --hover: #3300FF;
    --btn-color: #FF00FF;
    --colorborder: #6633CC
}

*{
    margin: 0;
    padding: 0;
} 
body{
    position: relative;
    width: 100%;
}
header{
    width: 100%;
    height: 100px;
    box-shadow: 0 8px 10px var(--bgheader);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: 999;
}
header .logo{
    color: var(--color);
    font-size: var(--size);
    text-transform: uppercase;
    font-weight: 700;
}
header nav{
    width: 60%;
    display: flex;
    justify-content: space-around;
    
}
header nav a{
    text-decoration: none;
    font-size: var(--size);
    color: var(--color);
    transition: 0.3s ease-in;

}
header nav a:hover{
    color: var(--hover);
    border-bottom: 1px solid #6633CC;
    
}
header #menu-btn{
    color: var(--color);
    font-size: var(--size);
    cursor: pointer;
    display: none;
}
header #menu-btn{
    color: var(--color);
}


section{
    padding: 100px 80px;
}
section.main{
    margin: 200px 100px;
    width: 100%;
    min-height: 100vh;
}
.main .info{
    width: 60%;
    padding: 8px;
}
.main .info h2{
    color: var(--color);
    font-size: 2.5rem;
    text-transform: capitalize;
    padding: 6px;
}
.main .info span{
    color: #CC00FF;
}
.main .info p{
    color: var(--color);
    font-size: var(--size);
    padding: 6px;
    text-transform: capitalize;
}
.main .info .link-but{
    padding: 6px;
    margin-bottom: 10px;
    width: 300px;
}
.main .info .link-but button{
    box-shadow: 0 8px 6px var(--btn-color);
    color: #6633FF;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-size: var(--size);
    transition: 0.5s ease;
}
.main .info .link-but button:hover, form button:hover{
    box-shadow: none;
    /* background: #CC00FF; */
    border: 1px solid #CC00FF;
    color: #CC00FF;
    scale: 1.1;
}

section.cards{
    width: 100%;
    min-height: 100vh;
    
}
section.cards .content{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 20px;
    overflow: hidden;
}
section.cards .content .card{
    padding: 15px;
    width: 70%;
    min-height: 300px;
   
    /* background-color: var(--icons); */
    text-align: center;
    box-shadow: 0 8px 10px var(--bgheader);

}
section.cards .content .card .img-projet{
    width: 70%;
    height: 100%;
    padding: 15px;
    margin: auto;
}
section.cards .content .card .img-projet img{
    width: 100%;
}
section.cards h1{
    text-align: center;
    color: var(--color);
    font-size: 50px;
    text-transform: uppercase;

}
section.cards .content .card h2, h3{
    color: var(--color);
    text-transform: capitalize;
    margin: 10px 0;
    font-weight: 600;
    font-size: 30px;
}
section.cards .content .card p{
    color: var(--btn-color);
    margin: 10px auto;
    font-size: 20px;
}
section.cards .content .card a{
    color: var(--color);
    text-transform: capitalize;
    font-size: 25px;
    margin: 10px 0;
}
section.cards .content .card a:hover{
    color: #FF00FF;
}
section.cards .content .card .icon-info i{
    font-size: 25px;
    color: var(--icons);
}
section.cards .content .card h3 i{
    font-size: 25px;
    color: var(--icons);
}
section.cards .content .card ul{
    text-decoration: none;
}
section.cards .content .card ul li{
    text-decoration: none;
    font-size: 25px;
    color: #FF00FF;
    margin-bottom: 8px;
    margin-left: 6px;
}
section.cards .content .card ul li i{
    text-decoration: none;
    color: var(--icons);
}
section.contact{
    width: 100%;
    
}
section.contact .cont h1 {
    text-align: center;
    color: var(--color);
    font-size: 50px;
    text-transform: uppercase;
    
}
section.contact .cont form{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;

}
section.contact .cont form input{
    width: 300px;
    height: 30px;
    padding: 12px;
    font-size: 18px;
    color: var(--btn-color);
    border: 1px solid var(--btn-color);

}
section.contact .cont form textarea{
    width: 300px;
    height: 150px;
    padding: 12px;
    font-size: 18px;
    color: var(--btn-color);
    border: 1px solid var(--btn-color);

}
section.contact .cont form button {
    box-shadow: 0 8px 6px var(--btn-color);
    color: #6633FF;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-size: var(--size);
    transition: 0.5s ease;
    width: 80%;
}
section.contact .cont form button:hover{
    box-shadow: none;
    /* background: #CC00FF; */
    border: 1px solid #CC00FF;
    color: #CC00FF;
    scale: 1.1;
}

footer{
    width: 100%;
    height: 100px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .social {
    width: 100%;
}
footer .social a{
    color: var(--icons);
    font-size: 30px;
    padding: 8px;
    transition: 0.3s ease;
}
footer .social a:hover{
    border-bottom: 1px solid #CC00FF;
}
footer p {
    color: var(--btn-color);
    font-size: var(--size);
    width: 100%;
}











































@media(min-width:650px) and (max-width:1150px){
    section.cards{
        width: 100%;
    }
    section.cards .content{
        width: 100%;
        min-height: 100vh;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        overflow: hidden;
    }
    section.cards .content .card{
        width: 100%;
        margin-top: 15px;
    }

    form{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    
    }
    

    header #menu-btn{
        display: inline-block;
    }
    header #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    header nav {
        color: var(--bgheader);
        position: absolute;
        top:99%;
        left:0;
        right:0;
        width: 100%;
        border-top: 1rem solid var(--bgheader);
        background-color: var(--navColor);
        display: block;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }   
    header nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    } 
    header nav a{
        display: block;
        margin: 2rem;
    }
    
}